.t {
  font-size: 1.5rem;
  color: rgb(8, 163, 143);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 780px) {
  .link {
    max-width: 60%;
    margin-bottom: 15px;
    margin-left: -1em !important;
  }
  .lin {
    max-width: 80%;
  }
  .git {
    font-size: 1rem;
  }

  .par {
    font-size: 1rem !important;
    max-width: 100%;
    margin-left: 9em !important;
  }
}

/*name */

.par {
  font-size: 1.3rem;
  color: rgb(249, 249, 255);
  font-weight: bold;
  margin: 30px 10px;
  width: 50vw;
}

.git {
  position: relative;
  transform: translate(-50%, -50%);
  color: rgb(140, 143, 141);
  font-size: 2rem;
  padding: 10px;
}
.w {
  color: rgb(36, 158, 23);
}
.g {
  color: aliceblue;
}
.bo:hover {
  text-shadow: 4px 1px 5px rgb(109, 210, 176);
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
  display: inline;
  margin: 0 0 0 4em;
}

.lin {
  color: rgb(177, 183, 183);

  margin: 0 9em 0em 0rem;
  display: inline;
  padding: auto;
}
