.button {
  border: 0;
  background-image: linear-gradient(
    150deg,
    rgb(109, 210, 176),
    rgb(55, 133, 107),
    rgb(47, 129, 125)
  );
  border-radius: 8px;
  color: #fff;
  display: flex;
  font-size: 18px;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.x {
  width: 80%;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin-bottom: 2em;
}
.s {
  margin-left: 7em;
  margin-bottom: 3rem;
}

@media screen and (max-width: 780px) {
  .s {
    margin-left: 2em;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 4em;
}
.price {
  font-weight: bold;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
}

img {
  height: 16em;
}

.l {
  width: 100%;
}

.info {
  height: 4.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
